.a{
    background-color: #142F43;
	margin-bottom: 0px;
  }
.btn{
		margin-left: 900px;
	}
.b{
    background-color: #E6DDC4;
	margin-top: 0px;
  }
h1{
	margin-top: 0px;
	color:#1F1D36;
	    font-family: 'Oswald', sans-serif;
	font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
	margin-left: 0px;
}
#table1{
	margin-left: 500px;
	background-color: #F0E9D2;
}
.tblh{
	margin-left: 500px;
}
.c{
	background-color: #E6DDC4;
}
h4{
	margin-bottom: 0px;
	margin-top: 0px;
	        color:#D57E7E;
	font-weight: bold;
	padding-top: 25px;
}
.d{
	background-color: #E6DDC4;	
}
p{
	margin-bottom: 0px;
	font-family: 'Roboto Condensed', sans-serif;
	color:#6B4F4F;
	font-weight: 900;
}
